*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    gap: 10px;
}
nav a:hover {
    background-color: green;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
nav{
    width: 150px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 100%;
}
.menu{
    padding: 20px;
}
