p{
    color: blue;
}
.Tip {
    background-color:  rgba(255, 213, 0, 0.3);
    border-left: 5px solid rgb(212, 255, 0);
}
.Tip span{
    color: rgba(167, 52, 14, 0.744);
}
.Tip p{
    color: black;
}
